h1 {
    font-size: 60px;
    font-family: 'Amatic SC';font-size: 48px;
	margin:auto;
	background-color:green
	
}
body {
    background-color: Red;
}
table { 
     
     background-color:#FF0000;
	 color:#000000;
	 font-size:20px;
}
h2 {
    margin:auto;
    width: 50%;
    border: 2px;
    padding: 12px;
}
h3 { 
       font-size: 60px;
    font-family: 'Amatic SC';font-size: 48px;
	margin:auto;
	background-color:green
}
li{float:left;}
li a{display:block;
color:green;
text-align:center; 
padding:14px 16px;
text-decoration:none;} 
li a:hover:not(.active){background-color:#000000}
.active{background-color:#206d1c}