h1 {
    font-size: 60px;
    font-family: 'Amatic SC';font-size: 48px;
	margin:auto;
}
body {
    background-color: Red;
}
table { 
     
     background-color:#FF0000;
	 color:#000000;
	 font-size:20px;
}
center {
    margin:auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}